@media only screen and (min-width : 460px) {

  .project-container {
    float: left;
    width: 50%;
    padding-bottom: 18%;
    background-color: white;
  }

  #projects {
    margin-top: 75%;
  }

  .project-box {
    width: 90%;
    padding-bottom: 90%;
  }

  .content-description {
    width: 85%;
    height: 2em;
  }

  .github-link {
    right: 8%;
    bottom: 3%;
  }

  .foot-links {
    margin: 1em;
  }

}

@media only screen and (min-width: 540px) {
  
  #container {
    max-width: 540px;
  }

  #main-info {
    max-width: 540px;
  }

  #profile-pic {
    margin-top: 0;
  }

  .message {
    margin: 0 6% 0 32%;
  }

  #projects {
    max-width: 540px;
    padding-top: 2%;
    margin-top: 70%
  }

  .project-box {
    width: 80%;
    padding-bottom: 80%;
  }

  .content-description {
    width: 76%;
  }

  .github-link {
    right: 12%;
  }

}