#footer {
  .footer-links {
    border-top: 1px solid $gray-lighter;

    ul {
      margin-top: 1rem;
      padding-left: 0;
    }

    li {
      display: inline;
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }

  .footer-message {
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

