.navbar {
  margin-top: 1rem;
}

.nav {
  li.underline a {
    border-bottom: 2px solid $brand-secondary
  }

  li {
    a {
      color: $brand-secondary;
      margin-bottom: 0;
      &:hover {
        color: $body-bg;
      }

      &.active {
        padding-bottom: 8px;
      }
    }
  }
}

.navbar-default .brand-style {
  color: rgb(134, 148, 52);
  font-size: 2rem;
  text-align: center;
  &:hover {
    color: $brand-primary;
  }
  margin-top: 0.75rem;
}

.pager {
  .disabled a {
      cursor: default;
    &:hover {
      cursor: default;
    }
  }

  a {
    color: $brand-secondary;
    &:hover {
      color: $body-bg;
    }
  }

  .page-location {
    border: none;
  }
}

// style tablet and smaller //

@media (max-width: $screen-sm-min) {
  .nav-justified li {
    float: left;
    width: 50%;
  }
}

// style tablet and larger //

@media (min-width: $screen-sm-min) {
  .nav {
    li a {
        border-left: 1px solid $gray-lighter;
      }
    li:last-child a {
      // border-right: 1px solid $gray-lighter;
    }
  }
  
  .navbar-default .brand-style {
    margin: 0.5rem 3rem 0 0;
  }
}

