body, html {
  height: 100%;
}

#container {
  width: 95%;
  margin: 0 auto 4%;
}

#main-info {
  width: 100%;
  overflow: hidden;
}

#proj-one {
  width: 100%;
}

#proj-two {
  width: 100%;
  clear: both;
}

.project-box {
  width: 70%;
  padding-bottom: 70%;
  margin: 10px auto;
  position: relative;
}

.box-content {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}

.content-description {
  width: 68%;
  margin: auto;
  padding: 2%;
}

#profile-pic {
  width: 25%;
  float: left;
  margin: 3%;
}

.project-container{
  height: 28em;
}

/*
#container {
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: orange;
  position: relative;
}

#proj-one {
  width: 36%;
  float: left;
  background-color: red;
  opacity: 50%;
  margin: 10% 0 0 0;
  position: relative;
  left: 0;
}

#main-info {
  width: 26.8%;
  margin: 0;
  float: left;
  background-color: green;
  height: 100%;
  position: fixed;
  left: 36.6%;
}

#proj-two {
  width: 36%;
  float: right;

  background-color: blue;
  margin: 10% 0 0 0;
  position: relative;
  right: 0;
}

.project-box {
  width: 45%;
  padding-bottom: 45%;
  margin: 3% 0 0 3%;
  background-color: gray;
  float: left;
  position: relative;
}

.box-content {
  position: absolute;
  right: 5px;
  bottom: 5px;
  left: 5px;
}*/

/*---------------------------------------------------------*/