@media only screen and (max-width : 480px) {

  .branding {
    margin-top: 0.5em;
    width: 15em;
  }

  #logolocation {
    position: static;
    margin: 0 auto;
    padding-top: 3%;
    padding-right: 1em;
    width: 25%;
  }

  #rhlogo {
    height: 10em;
  }

  h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 0.50em 0 0.25em;
  }

  #message {
    margin: 6% 10% auto;
    letter-spacing: 0.05em;
    width: 85%;
    margin-bottom: 8%;
    padding-left: 0;
  }

  p {
    font-size: 0.85em;
    text-align: left;
  }

  footer {
    margin: 5% 5% 0;
    text-align: center;
  }

  .icon-link {
    padding: 0.8em;
  }
}