@media only screen and (min-width : 460px) {
  body {
    font-size: 0.9em;
  }
  #container {
    position: relative;
  }

  .message {
    float: left;
    margin: 5% auto 0;
    max-width: 61%;
  }

  .icon-link {
    padding: 1em 0.6em;
  }

  #proj-one {
    width: 49.5%;
    position: absolute;
    top: 105%;
    left: 0;
  }

  #proj-two {
    width: 49.5%;
    position: absolute;
    top: 105%;
    right: 0;
  }
}

@media only screen and (min-width: 715px) {

  #container{
    background-color: red;
  }

  #
  
  .message {
    clear: both;
    max-width: 40%;
  }

}