body {
  font-family: 'Kameron','Courier New', Courier, serif;
  font-size: 0.8em;
}

.message {
    margin: 0 auto;
    letter-spacing: 0.04em;
    padding: 0.5em 0 0 1.5em;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  color: #BE0908;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0.05em;
  font-size: 1.2em;
}

a:link {
  color: #BE0908;
}

a:visited {
  color: #9E1A1A;
}

a:hover {
  color: #E80001;
}

nav {
  margin: 10% 0;
  text-align: center;
}

.icon-link {
  padding: 0 3.25%;
  font-size: 1.45em;
}

.omega {
  margin-right: 0;
  padding-right: 0;
}

ul  {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

address {
  display: inline;
}

.box-content img {
   width: 100%;
}

.link-title {
  display: inline;
}