 <nav> 
   <section>
     <ul class="">
       <li><a href="index.html" title="">blog</a></li>
       <li><%= link_to 'About', '/about.html' %></li>
       <li><a href="#" title="">projects</a></li>
       <li><a href="#" title="">contact</a></li>
     </ul>
   </section>
 </nav>

