 <nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
    data-target="#navbar-collapse-links">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-links">
    <ul class="nav navbar-nav">
      <li><%= link_to 'blog', '/index.html' %></li>
      <li><%= link_to 'about', '/about.html' %></li>
      <li><%= link_to 'projects', '/projects.html' %></li>
      <li><%= link_to 'contact', '/contact.html' %></li>
    </ul>
 </nav>

