<footer>
  <ul>
    <li class='foot-links'>
        <a href="http://www.linkedin.com/in/ryanhedges/" title="Ryan Hedges' Linked In Profile">LinkedIn</a>
      </li>
      <li class='foot-links'>
        <a href="https://github.com/RyanHedges" title="Ryan Hedges' Git Hub Profile">GitHub</a>
      </li>
      <li class='foot-links'>
        <a href="https://twitter.com/ryan_hedges" title="Ryan Hedges on twitter">Twitter</a>
      </li>
      <li class='foot-links'>
        <a href="rhcvweb.pdf">Resume</a>
      </li>
      <li class='foot-links'>
        <address>
          <a href="mailto:ryan@ryanhedges.com" title="Email Me at Ryan@ryanhedges.com"> Contact</a>
        </address>
      </li>
  </ul>
</footer>