---
layout: basic_page
---

<H3 class="text-center">
  So you want to know a little more about me?
</h3>

Well, I'm Ryan, and have been programming since 2013. That year I went through
[Dev Bootcamp](http://devbootcamp.com/) in San Francisco and learned the skill
necessary to start my career in web development. It remains one of the best
decisions for my life and couldn't have been down without all the support from
my family and friends.

I live in southern California with my family and currently work for ReachLocal
helping build our software products as well as dev tools for our teams to use.
Some of my interests include:

- Learning new things and how to learn faster.
- Playing games, and following the PC gaming industry.
- Art, design and typogrpahy. I graduated with a visual communications degree.
- Listening, creating and performing music.
- Ideas: Products and businesses, a user's experience, technical solutions.

If you'd like, you can
<%= link_to 'read my Resume', '/rhcvweb.pdf' %>
for my most recent experiences in the job world.

<%= image_tag "images/wffampic.jpg", class: "img-responsive" %>

