<H3 class="text-center">
  So you want to know a little more about me?
</h3>

****

Well, I'm Ryan, and have been programming since 2013 after deciding to change
my career. I started out doing Graphic Design because I was facinated by
the creation process and talented with thinking about the clients I was
designing for. 

After college I was working in IT and thought about making a career there. I
enjoyed the challenge provided by working with hardware and software in
networking but I found it lacking in creative flexablitiy in problem solving.
Also it was very transparent work and I desired to make things that people
interacted with and could take value from.

So in 2013 a friend introduced me to programming and DevBootcamp. This was
exactly






