---
layout: basic_page
---

<h1 class="text-center">Contact me</h1>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 contact-info">
  <ul>
    <li> You can always reach me by email <%= mail_to "Ryan@ryanhedges.com" %>. </li>
    <li> Or we could connect on <%= link_to "LinkedIn", "https://www.linkedin.com/in/ryanhedges" %>. </li>
    <li> What about <%= link_to "Github", "https://github.com/RyanHedges" %>? </li>
  </ul>

  <div class ="text-center">
    <h4> Twitter anyone? </h4>
    <a class="twitter-timeline"
      data-border-color="#eaebe8"
      href="https://twitter.com/Ryan_Hedges"
      data-widget-id="591138791185776640">
    Tweets by @Ryan_Hedges
    </a>
  </div>
</div>







<script>!function(d,s,id){var
js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


