---
layout: basic_page
---

<h2 class="text-center">Articles tagged '<%= tagname %>'</h2>

<ul class="tags text-center">
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

